@model OrderConfirmationVM

<div class="container">
	<div class="col-12 col-lg-9">
		<div class="border border-success p-4 shadow border-3">
			<h1 class="text-primary mt-0 mukta-semibold">Order Placed Successfully!</h1>
			<p>Your Order No is: <strong>@Model.OrderId </strong></p>
			<p>
				Your secret-key is:
				<span class="font-monospace">
					<strong>@Model.UniqueCodee.Substring(0, 4)-@Model.UniqueCodee.Substring(4, 4)-@Model.UniqueCodee.Substring(8)</strong>
				</span>
			</p>
			
			<div class="reminder-message">
				<p style="color: red; font-weight: bold;">Remember: Don't share your secret key with anyone. Take a screenshot if you can.</p>
				<p style="color: red; font-weight: bold;">When you arrive to pick up your order, we'll ask for the last four digits of the secret key for confirmation.</p>
			</div>
		</div>
	</div>
</div>

<style>
	.reminder-message p {
		margin-bottom: 10px;
	}

	.mukta-semibold {
		font-family: "Mukta", sans-serif;
		font-weight: 600;
		font-style: normal;
	}

</style>